/* Image positioning */
.zlta-interactive-map--image-container {
    position: relative;
}

.zlta-interactive-map--svg {
    position: absolute;
    z-index: 1;
}

.zlta-interactive-map--svg svg {
    max-width: 100%;
    height: auto;
}

.modal-box--wrapper {
    display: none;
    position: absolute;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.modal-box {
    display: none;
    position: absolute;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 75%;
    height: 75%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 2rem;
    position: relative;
    align-items: center;
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 40%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s

}
.close-btn {
    float: right;
    color: lightgray;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
.close-btn:hover {
    color: darkgray;
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}




/* Zipline Runs */
.svg_zipline_run {
    cursor: pointer;
    transition: opacity 0.25s ease;
}

.svg_zipline_run--reduce-opacity {
    opacity: 0.5;
}

.hideToolTip {
    opacity: 0;
    transition: opacity ease-in-out .25s;
}