/* Image positioning */
.zlta-interactive-map--wrapper {
    position: relative;
}

.zlta-interactive-map--image-container {
    position: relative;
}

.zlta-interactive-map--svg {
    position: absolute;
    z-index: 1;
}

.zlta-interactive-map--svg svg {
    max-width: 100%;
    height: auto;
}

.modal-box--wrapper {
    display: none;
    position: absolute;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.modal-box--overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
    background: rgba(0,0,0,0.4);
}

.modal-box--container {
    margin: auto;
    width: 65%;
    max-width: 950px;
    height: auto;
    position: relative;
}

.modal-box {
    display: none;
    position: static;
    padding-top: 50px;
    left: 0;
    top: 0;
    max-width: 100%;
    max-height: 100%;
    color: #172C62;
}

.modal-content {
    display: block;
    position: relative;
    align-items: center;
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 100%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    color: #172C62;
    font-weight: bold;
    font-size: 2.5rem;
}

.runHeader {
    color: #172C62;
    font-weight: bold;
    padding-left: 15px;
    margin-bottom: 0px;

}

.ul-image--wrapper {
    position: static;
    display: grid;
    padding: 25px 25px 50px 15px;
    grid-template-columns: 50% 1fr;
    gap: 5%;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

.modal-image {
    width: 100%;
    height: auto;
}

.close-btn {
    z-index: 1;
    color: #000;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover {
    color: darkgray;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* Zipline Runs */
.svg_zipline_run {
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.svg_zipline_run--reduce-opacity {
    opacity: 0.5;
}

@media only screen and (max-width: 1023px) {
    /*  Tablet styles  */
}

@media only screen and (max-width: 600px) {
    /*  Mobile styles  */
}

